@page "/"
@using Newtonsoft.Json

@inject NavigationManager Navigation
@inject HttpClient Http

<PageTitle>Index</PageTitle>
<button @onclick="StartJam">Start a new Jam!!!</button>

@code
{
    public void StartJam()
    {
        HttpResponseMessage response = Http.GetAsync("login").Result;
        var jsonString = response.Content.ReadAsStringAsync().Result;
        dynamic jsonObject = JsonConvert.DeserializeObject<dynamic>(jsonString);
        string query = jsonObject.query;
        Navigation.NavigateTo(query, true, true);

    }
}
