@page "/"
@using Newtonsoft.Json

@inject NavigationManager Navigation
@inject HttpClient Http
@using TheEntertainer.Components

<PageTitle>Index</PageTitle>
    <ErrorModal @ref="_errorModalRef"  />
<button @onclick="StartJam">Start a new Jam!!!</button>

@code
{
    private ErrorModal _errorModalRef;

    public void StartJam()
    {
        try
        {
            HttpResponseMessage response = Http.GetAsync("login").Result;
            var jsonString = response.Content.ReadAsStringAsync().Result;
            dynamic jsonObject = JsonConvert.DeserializeObject<dynamic>(jsonString);
            string query = jsonObject.query;
            Navigation.NavigateTo(query, true, true);
        }
        catch(Exception e)
        {
            _errorModalRef.ShowModal(e.Message);
        }

        

    }
}
